<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rate Trinity</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    </head>

    <body>
        <nav>
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'module_list' %}">Modules</a>
            <a href="{% url 'lecturer_list' %}">Lecturers</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
        <div>
        {% block content %}
        {% endblock %}	
        </div>
    </body>
</html>