{% extends "home/header.html" %}

{% load staticfiles %}
{% block extra_css %}
  <link rel="stylesheet"  href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Carousel Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">
</head>
<body>
    
  <main role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <br>
    <br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://static.thenounproject.com/png/739669-200.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Modules</h2>
          <p>Here you can view and search different modules</p>
          <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/modules/" role="button">View Modules &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://static.thenounproject.com/png/27748-200.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Lecturers</h2>
          <p>Here you can find a list of lecturers and their departments, leave a comment and review your past and current lecturers!</p>
          <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/lecturers/" role="button">Review Lecturers &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://cdn1.iconfinder.com/data/icons/ui-glynh-02-of-5/100/UI_Glyph_04_-08-512.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Membership</h2>
          <p>Not a member? Register now</p>
          <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/users/register/" role="button">Register here &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div><!-- /.container -->
  </main>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  
</body>
</html>
{% endblock %}
