{% extends "home/header.html" %}

{% block content %}
    <h2 style="margin-left: 20px">About</h2>
    <center> 
        <img src="https://www.tcd.ie/identity/assets/images/trinity-common-use.jpg" alt="trinity logo" width="250" height="100">
        </center>
        <h3> <center>Welcome to Trinity Module Review </center></h3>

        <p style="text-align: center; margin-left: 40px; margin-right: 40px; font-size: 20px"> 
            Trinity Module Review is an online forum where Trinity students can share their honest opinions (positive or negative), advice and recommendations on modules and lecturers. 
            This website give students access to important information from a student’s perspective when choosing courses, modules and preparing for future modules.
        </p>
        <br>
        <p style="margin-left: 40px; margin-right: 40px; font-size: 20px;"> You can use Trinity Module Review to: </p>
        <p> <i class="fas fa-check" style="margin-left: 40px; color:lightblue;"> </i> Access information about modules, lectures and courses</p>
        <p> <i class="fas fa-check" style="margin-left: 40px; color:lightblue;"> </i> Give honest reviews on modules </p>
        <p> <i class="fas fa-check" style="margin-left: 40px; color:lightblue;"> </i> Search for modules and courses</p>
        <p> <i class="fas fa-check" style="margin-left: 40px; color:lightblue;"> </i> Decide on which modules to take</p>
        <p> <i class="fas fa-check" style="margin-left: 40px; color:lightblue;"> </i> Find your lecturers and their department</p>

        <p style="margin-left: 20px;"> To get started, click <a href= "./users/register/">here </a> to register. Already have an account? Click <a href="./users/login/"> Log In</a></p>
        <br>
{% endblock  %}