{% extends 'home/header.html' %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    <!--
    <h3>Your modules:</h3>
    <ul>
        {% for module in user.profile.modules.all %}
            <li>{{ module }}</li>
        {% endfor %}
    </ul>
    -->

    <h3>Your comments:</h3>
    <ul>
        {% for comment in user.profile.comments.all %}
            <li style="font-size: 15px; margin-right: 100px;" class='list-group-item'>
                "<i>{{ comment.content }}</i>" <small>({{ comment.date_posted |date:'F d, Y' }})<small>
                <a class="btn btn-danger btn-sm mt-1 mb-1 float-right" href="{% url 'comment-delete' comment.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}