{% extends "home/header.html" %}

{% block content %}
    <h2>Modules</h2>
    <p>Please search our list of modules</p>
    <hr/>
    <ul>
      <form class="form-inline mt-2 mt-md-0" style = "padding-left:-25px">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% for module in object_list %}
            <li><a href="{{module.code}}/">{{ module.code }} : {{ module.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
