{% extends "home/header.html" %}

{% block content %}
    <h2 style = "margin-left: 40px">Modules</h2>
    <p style = "margin-left: 40px">Please search through our list of modules</p>
    <hr/>
    <ul>
      <ul id ="myUL">
        <div style="margin-right: 100px; padding-bottom:20px;">
          <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search for Modules...." aria-label="Search">
        </div>

        {% for module in object_list %}
          <li>
            <menu style="font-size: 15px; margin-right: 100px;" class="list-group-item"><a href="{{module.code}}/">{{ module.code }} : {{ module.name }}</a></menu>
          </li>
        {% endfor %}
      </ul>
    </ul>
<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
{% endblock %}

<style>
</style>
