{% extends "home/header.html" %}
<html>
{% block content %}
<div>
  <hr>
  	   <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">

              <h3 class="mb-0">
                <a class="text-dark">{{ module.code }}: {{ module.name }}</a>
              </h3>
              <hr>
              <h5>Lecturer: {{ module.lecturer }}</h5>
              <h5>ECTS: {{module.ects}}</h5>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark">Comment section:</a>
              </h3>
              <hr>
              {% for comment in comments %}
                <div>
                  <h6>{{ comment.content }}</h6>
                  <p>{{ comment.date_posted | date:"M d, Y"}}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mb-2">
       <div class="col-md-6">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250">
           <div class="card-body d-flex flex-column align-items-start">

             <h3 class="mb-0">
               <a class="text-dark">Course Descriptor:</a>
             </h3>
             <hr>
             <p>{{ module.description }}</p>
           </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250">
           <div class="card-body d-flex flex-column align-items-start">
             <!--
             <h3 class="mb-0">
              <a class="text-dark">Have your say!</a>
             </h3>
             <hr>
             <textarea class="form-control" rows="7" id="comment"></textarea>
            -->
            <form method="POST">
                {% csrf_token %}
              <fieldset>
                <legend><h3 class="mb-0">Have your say!</h3></legend>
                {{form}}
                <button type="submit">Submit</button>
              </fieldset>
            </form>
           </div>
         </div>
       </div>
     </div>
</div>

</html>
{% endblock  %}
